body{
    background-image: url('bg.jpg');
}

*{
    margin: 0;
    padding: 0;
}

.container{
    min-height: 72vh;
    /* background-color: black; */
    /* border:2px solid red; */
   color: white;
   font-family: 'Varela Round', sans-serif;
   display: flex;
   margin: 23px auto;
   width: 70%;
   border-radius: 12px;
   padding: 34px;
   /* background-image: url('bg.jpg'); */
}