<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <script src="https://cdn.jsdelivr.net/npm/hls.js@latest"></script>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>CUSTOM PILOT STREAMER</title>
</head>
<body>

<div>
    <br><br>
     <h2 style="text-align: center" class="heading-section">LIVE STREAMING ID  : {{ id.id }}</h2>
    <center>
        <video id="my-player"class="container"
               controls
              />
    </center>
</div>

<script>
    const video = document.querySelector('#my-player');
    const src = 'https://stream.mux.com/{{PLAYBACK_ID}}.m3u8';
    console.log('src of video: ' + src);
    if (video.canPlayType('application/vnd.apple.mpegurl')) {
        // Some browers (safari and ie edge) support HLS natively
        video.src = src;
    } else if (Hls.isSupported()) {
        const hls = new Hls();
        hls.loadSource(src)
        hls.attachMedia(video);
    } else {
        console.error("This is a legacy browser that doesn't support MSE");
    }
</script>
</body>
</html>